@import '/src/shared/constants.scss';

.userAchievements {
  // height: 707px;
  overflow-y: auto;
  border-radius: 10px;
  flex: 1;

  .h2 {
    margin-bottom: 60px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 50px;
  }
}
