@import '/src/shared/constants.scss';

.footer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 50px;
  border-top: 2px solid $light-blue;
  font-size: 20px;

  &__companyInfo {
    display: flex;
    align-items: center;
    gap: 40px;

    img {
      width: 150px;
    }
  }
}
