@import '/src/constants.scss';

.input {
  height: 35px;
  padding: 0 10px;
  border-radius: 3px;
  background: $light-gray;
  color: $main-text-color;

  &::placeholder {
    color: rgba($color: $main-text-color, $alpha: 0.55);
  }

  &:focus,
  &:focus-within {
    outline: $light-blue solid;
  }
}
