$main-font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
$main-text-color: #fff;
$gray: #757575;
$light-gray: #959595;
$main-background-color: #242426;
$block-background-color: #373739;
$light-blue: #759cff;
$blue: #0072bb;
$green: #4caf50;
$dark-green: #388e3c;
$orange: #ffa500;
$red: #ff0000;
$violet: #673ab7;
