// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './constants.scss';

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font-family;
  font-size: 14px;
  color: $main-text-color;
}

* {
  box-sizing: border-box;
  font-family: $main-font-family;
}

body {
  background: $main-background-color;
  // background: #323234;
}

.borderAndOutlineUnsetted {
  border: unset;
  outline: unset;
}

.bottomBlueBorder {
  // -webkit-box-shadow: 4px -4px 0px 0px rgba(117, 156, 255, 0.5);
  // -moz-box-shadow: 4px -4px 0px 0px rgba(117, 156, 255, 0.5);
  // box-shadow: 4px -4px 0px 0px rgba(117, 156, 255, 0.5);

  // -webkit-box-shadow: 0px 5px 0px 0px rgba(117, 156, 255, 0.5);
  // -moz-box-shadow: 0px 5px 0px 0px rgba(117, 156, 255, 0.5);
  // box-shadow: 0px 5px 0px 0px rgba(117, 156, 255, 0.5);

  -webkit-box-shadow: 0px 5px 0px 0px $light-blue;
  -moz-box-shadow: 0px 5px 0px 0px $light-blue;
  box-shadow: 0px 5px 0px 0px $light-blue;
}

.block {
  padding: 35px;
  border-radius: 10px;
  background-color: $block-background-color;
}

.absoluteCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
